Source: ros-noetic-picovoice-msgs
Section: misc
Priority: optional
Maintainer: Rein Appeldoorn <reinzor@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib-msgs, ros-noetic-catkin, ros-noetic-message-generation
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-picovoice-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib-msgs, ros-noetic-message-runtime
Description: ROS interfaces for interacting with Picovoice driver nodes
